name: Build Lampac

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      
      - name: Build
        run: |
          chmod +x build.sh
          ./build.sh
      
      - name: Create release package
        run: |
          cd publish
          zip -r ../lampac-full.zip .
          cd ..
      
      - uses: actions/upload-artifact@v4
        with:
          name: lampac-full
          path: lampac-full.zip
