name: Build Lampac Multi-Platform

on: [push, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        runtime: [linux-x64, win-x64, linux-arm64, osx-x64]
        include:
          - runtime: linux-x64
            os: ubuntu-latest
          - runtime: win-x64
            os: windows-latest
          - runtime: linux-arm64
            os: ubuntu-latest
          - runtime: osx-x64
            os: macos-latest
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    
    - name: Make build.sh executable (Unix)
      if: runner.os != 'Windows'
      run: chmod +x build.sh
    
    - name: Build for ${{ matrix.runtime }}
      run: |
        # Устанавливаем переменную окружения для рантайма
        export RUNTIME=${{ matrix.runtime }}
        ./build.sh
      shell: bash
    
    - name: Upload ${{ matrix.runtime }}
      uses: actions/upload-artifact@v4
      with:
        name: lampac-${{ matrix.runtime }}
        path: ./publish/
